CSC3380_Group12_Project/Assets/Scripts/Movement.cs.meta
CSC3380_Group12_Project/Assets/_Recovery.meta
CSC3380_Group12_Project/Assets/_Recovery/0.unity
CSC3380_Group12_Project/Assets/_Recovery/0.unity.meta
CSC3380_Group12_Project/Assets/BTM_Assets/BTM_Items_Gems/Materials/Backdrop.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Circle01_AB.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Circle01_AB.mat.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Circle01_AB_2.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Circle01_AB_2.mat.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/DistortedFlare01_AB.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/DistortedFlare01_AB.mat.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/DistortedFlare01_AB_2.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/DistortedFlare01_AB_2.mat.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Flame02_AB.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Flame02_AB.mat.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Flame02_AB_2.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Flame02_AB_2.mat.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Flare00_AB.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Flare00_AB.mat.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Flare00_AB_2.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Flare00_AB_2.mat.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Scene.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Scene/Ground.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Scene/Ground.mat.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Swirl01_AB.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Swirl01_AB.mat.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Swirl01_AB_2.mat
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Materials/Swirl01_AB_2.mat.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Models.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Models/Mountains01.fbx
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Models/Mountains01.fbx.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Electricity_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Electricity_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Explosion_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Explosion_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Explosion_02.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Explosion_02.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Flames_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Flames_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Flamethrower_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Flamethrower_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Flamethrower_02.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Flamethrower_02.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Heal_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Heal_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Heal_02.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Heal_02.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Hyperdrive_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Hyperdrive_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Impact_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Impact_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Implosion_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Implosion_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Lightning_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Lightning_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Lightning_02.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Lightning_02.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_LootDrop_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_LootDrop_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_LootDrop_02.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_LootDrop_02.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_MeteorRain_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_MeteorRain_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_MeteorRain_02.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_MeteorRain_02.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_MuzzleFlash_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_MuzzleFlash_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_MuzzleFlash_02.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_MuzzleFlash_02.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Portal_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Portal_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Portal_02.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Portal_02.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Projectile_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Projectile_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Projectile_02.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Projectile_02.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Rain_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Rain_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Rain_02.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Rain_02.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Shield_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Shield_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Shockwave_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Shockwave_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Smoke_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Smoke_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Sparks_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Sparks_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Tornado_01.prefab
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Prefabs/vfx_Tornado_01.prefab.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Scenes.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Scenes/FreeQuickEffectsVol1.unity
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Scenes/FreeQuickEffectsVol1.unity.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Settings.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Settings/FE_GlobalVolumeProfile.asset
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Settings/FE_GlobalVolumeProfile.asset.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Textures.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Textures/Circle01_v1.png
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Textures/Circle01_v1.png.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Textures/DistortedFlare01.png
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Textures/DistortedFlare01.png.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Textures/Flame02.png
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Textures/Flame02.png.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Textures/Flare00.PNG
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Textures/Flare00.PNG.meta
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Textures/Swirl01.png
CSC3380_Group12_Project/Assets/GabrielAguiarProductions/FreeQuickEffectsVol1/Textures/Swirl01.png.meta
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Magic Effects/Materials/EarthCrack.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Magic Effects/Materials/Embers.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/BulletDecalSand.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/BulletFleshDecal.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/DustPuffParticle.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/FleshSurface.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/GoopMist.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/GoopStreak.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/MetalSparks.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Prefabs/FleshImpacts.prefab
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Prefabs/MetalImpacts.prefab
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Prefabs/MuzzleFlash.prefab
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Prefabs/SandImpacts.prefab
CSC3380_Group12_Project/Assets/BTM_Assets/BTM_Items_Gems/Materials/Backdrop.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Magic Effects/Materials/EarthCrack.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Magic Effects/Materials/Embers.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/BulletDecalSand.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/BulletFleshDecal.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/DustPuffParticle.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/FleshSurface.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/GoopMist.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/GoopStreak.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Materials/MetalSparks.mat
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Prefabs/FleshImpacts.prefab
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Prefabs/MetalImpacts.prefab
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Prefabs/MuzzleFlash.prefab
CSC3380_Group12_Project/Assets/Particles and Other FX/Premade/UnityTechnologies/ParticlePack/EffectExamples/Weapon Effects/Prefabs/SandImpacts.prefab
CSC3380_Group12_Project/Assets/Prefabs/GabrielAguiarProductions.meta
*.prefab
*.mat
